form {
    width: 30rem;
    margin: 10px auto;
    border: 1px black solid;

    display:flex;
    justify-content: space-around;
    align-items:center;

    font: 1.2rem "sans-serif";
}

/* Form items do not inherit font information */
input {
    font: inherit;
}

select {
    font: inherit
}

button {
    font: inherit;
}